@font-face {
    font-family: 'milkshakeregular';
    src: font-url('/assets/milkshake-webfont.woff2') format('woff2'),
         font-url('/assets/milkshake-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'milkshakeregular';
    src: font-url('/assets/milkshake-webfont.woff2') format('woff2'),
         font-url('/assets/milkshake-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
