@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  font-family: "milkshakeregular", sans-serif !important;
}

body {
  background: image_url('nomsterbackground.jpg');
  font-family: "milkshakeregular", sans-serif !important;
}

.navbar {
  background: image_url('navbar.jpg');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #FAF3C0;
  font-family: "milkshakeregular", sans-serif;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.address {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

.description {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}


